{% extends 'layout.twig' %}

{% block body %}
<h1>Modifier le produit</h1>
<form method="post" action="http://localhost:3000/product/modPandrout/{{product.id}}">
libelle:<input type="text" name="libelle" value="{{product.libelle}}" placeholder="libelle..."/>
<br/>
price:<input type="number" name="prix" value="{{product.prix}}" placeholder="price..."/>
<br/>   
description:<input type="text" name="description"  value="{{product.description}}" placeholder="price..."/>
<br/>
quantite:<input type="number" name="quantite"  value="{{product.quantite}}" placeholder="quantite..."/>
<br/>
<input type="submit" value="modifier produit"/>
</form>
{% endblock %}
